/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$primary:   #009980; // verde
$secondary: #004a51; // naranja
$danger:    #F44336; // rojo más suave
$info:      #00BCD4; // cian
$light:     #f1f1f1;
$dark:      #212121;

@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import 'var';
// @import 'mixins';
// @import 'global';